# generated: '2026-07-21'
# method: searched
# source: https://developer.usebutton.com/reference/list-brand-details.md (OpenAPI definition embedded in Button's ReadMe reference page)
openapi: 3.1.0
info:
  title: brands-api
  version: '4'
servers:
  - url: https://api.usebutton.com/v1/brands
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
security:
  - sec0: []
paths:
  /:
    get:
      summary: List Brand Details
      description: Retrieve details for the Brands partnered with your organization.
      operationId: list-brand-details
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "meta": {
                            "status": "ok"
                        },
                        "object": {
                            "id": "org-3eec44df0966f6f0",
                            "name": "Brand123",
                            "is_live_ready": true,
                            "description": "Brand description",
                            "urls": {
                                "homepage": "https://brandhomepage.com"
                            },
                            "icon_url": "https://button.imgix.net/org-3eec44df0966f6f0/icon/f2efde260ddabd11.png",
                            "apps": [
                                {
                                  "os": "ios",
                                  "scheme": "brandapp://"
                                }
                              ],
                            "supported_hostnames": ["brand123.com", "brand123homepage.com", "us.brand123homepage.com"],
                            "subdomain": "brandapp",
                            "terms_and_conditions": {
                                "reporting_window_days": 0,
                                "finalization_window_minutes": 129600,
                                "additional_terms": null,
                                "exclusion_details": "Commissions are not valid on taxes, delivery fees, promotions, or payments made with bitcoin.",
                                "coupons_allowed": false,
                                "gift_cards_allowed": false
                            }
                        }
                    }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                  object:
                    type: object
                    properties:
                      id:
                        type: string
                        example: org-3eec44df0966f6f0
                      name:
                        type: string
                        example: Brand123
                      is_live_ready:
                        type: boolean
                        example: true
                        default: true
                      description:
                        type: string
                        example: Brand description
                      urls:
                        type: object
                        properties:
                          homepage:
                            type: string
                            example: https://brandhomepage.com
                      icon_url:
                        type: string
                        example: https://button.imgix.net/org-3eec44df0966f6f0/icon/f2efde260ddabd11.png
                      apps:
                        type: array
                        items:
                          type: object
                          properties:
                            os:
                              type: string
                              example: ios
                            scheme:
                              type: string
                              example: 'brandapp://'
                      supported_hostnames:
                        type: array
                        items:
                          type: string
                          example: brand123.com
                      subdomain:
                        type: string
                        example: brandapp
                      terms_and_conditions:
                        type: object
                        properties:
                          reporting_window_days:
                            type: integer
                            example: 0
                            default: 0
                          finalization_window_minutes:
                            type: integer
                            example: 129600
                            default: 0
                          additional_terms: {}
                          exclusion_details:
                            type: string
                            example: Commissions are not valid on taxes, delivery fees, promotions, or payments made with bitcoin.
                          coupons_allowed:
                            type: boolean
                            example: false
                            default: true
                          gift_cards_allowed:
                            type: boolean
                            example: false
                            default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "meta": {
                            "status": "error"
                        },
                        "error": {
                            "message": "Invalid Brand ID: org-xxx"
                        }
                    }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                        example: error
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Invalid Brand ID: org-xxx'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "meta": {
                            "status": "error"
                        },
                        "error": {
                            "message": "The calling organization must be a publisher to access this endpoint."
                        }
                    }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                        example: error
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The calling organization must be a publisher to access this endpoint.
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "meta": {
                            "status": "error"
                        },
                        "error": {
                            "message": "Could not find org-262d6eae90030df9"
                        }
                    }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                        example: error
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Could not find org-262d6eae90030df9
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            name: curl
            code: |-
              # without optional arguments
              curl https://api.usebutton.com/v1/brands \
                -X GET \
                -u YOUR_API_KEY:

              # with optional arguments
              curl https://api.usebutton.com/v1/brands/org-xxx \
                -X GET \
                -u YOUR_API_KEY:
        samples-languages:
          - curl
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
